<launch>

  <arg name="gui" default="true"/>
  <arg name="model" default="$(find spot_description)/models/notspot.urdf"/>
  <arg name="rvizconfig" default="$(find spot_controller)/rviz/notspot_rviz.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/spotmicroai/joint_states" />
  </node>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg gui)" />

  <!-- convert joint states to TF transforms for rviz, combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
